{
    "tableScanBatchSize":"5000",
    "log_level":"info",
    "script_path":"script",
    "initial_intra_task_concurrency":"1",
    "initial_intra_stage_concurrency":"1",
    "initial_hash_partition_concurrency":"2",
    "initial_task_group_concurrency":"1",
    "intra_task_hash_build_concurrency":"1",
    "TEST_system_add_intra_stage_concurrency":"-1",
    "TEST_system_add_intra_task_concurrency":"-1",
    "TEST_system_add_task_group_concurrency":"-1",
    "task_group_close_mode":"true",
    "lazy_task_group_close_mode":"true",
    "initial_shuffle_executor_nums":"-1",
    "doNotUseStorageNode":"false", 
    "intial_plan_used_nodes":"-1", 
    "tpch_AutoGen_ScaleFactor":"1" 

}
